{% extends 'products/base.html' %}
{% load bootstrap4 %}
{% bootstrap_field field %}
{% bootstrap_field form %}

{% block content %}
    <div class="col-xl-12 d-flex justify-content-center">
        <h3>Password reset sent</h3><br><br><br>

    </div>
    <div class="col-xl-12 d-flex justify-content-center">

        <p>
            If an account exists with the email you
            entered.You should receive an emails shortly.

        </p>
    </div>
    <div class="col-xl-12 d-flex justify-content-center">

        <p>
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and
            check your spam folder.
        </p>

    </div>
{% endblock %}