{% extends 'products/base.html' %}
{% load bootstrap4 %}
{% bootstrap_field field %}
{% bootstrap_field form %}

{% block content %}
    {#    Email reset form start#}
    <div class="col-xl-12 d-flex justify-content-center">

        <form method="post">
            <div class="col-xl-12 d-flex justify-content-center">
                <h3>Enter new password</h3>
            </div>
            <p>
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            {% csrf_token %}
            <div class="col-xl-12 ">
                {% bootstrap_form form show_label=False %}<br>
            </div>
            <div class="col-xl-12 d-flex justify-content-center">
                <div class="col-xl-4">
                    <button type="submit" class="customButtons btn btn-dark ">Change password</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}