{% extends 'products/base.html' %}
{% load bootstrap4 %}
{% bootstrap_field field %}

{% block content %}

    {#start sign-in form#}

    {% if form.errors %}
        <div class="col-xl-12 alert alert-danger d-flex justify-content-center" role="alert">

            <h6>Please enter a correct username and password.</h6>

        </div>
    {% endif %}



    <div class="row d-flex justify-content-center formRow ">
        <div class="col-lg-12 d-flex justify-content-center ">


            <form action="{% url 'customers:sign_in' %}" method='POST'>
                {% csrf_token %}

                <div class="col-xl-12">
                    {% bootstrap_field form.username show_label=True %}
                </div>

                <div class="col-xl-12">

                    <div class="form-group"><label for="id_password">Password</label><input type="password"
                                                                                            name="password"
                                                                                            maxlength="128"
                                                                                            class="form-control"
                                                                                            placeholder="Password"
                                                                                            title=""
                                                                                            required=""
                                                                                            id="id_password">
                    </div>
                </div>


                <div class="col-xl-12 d-flex justify-content-center mb-3 mt-5">
                    <button type="submit" class="customButtons btn btn-dark ">Sign in</button>
                </div>
            </form>

        </div>
    </div>


    <div class="row d-flex justify-content-center">
        <div class="col-xl-12 d-flex justify-content-center mb-2">

            <a class="btn btn btn-google btn-block-outline"
               href="{% url 'social:begin' 'google-oauth2' %}"><img
                    src="https://img.icons8.com/color/16/000000/google-logo.png" alt="googleLogin">
                Signin Using
                Google</a>
        </div>


        <div class="col-lg-12 d-flex justify-content-center">
            <p>No account?</p><a href="{% url 'customers:sign_up' %}">Sign up </a>
        </div>

    </div>

    {#end sing-in form#}

{% endblock %}
