{% load static %} {#<!DOCTYPE html>#}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/media/siteImages/apple-icon.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/media/siteImages/favicon.ico"
    />

    <link
      rel="stylesheet"
      href="{% static 'products/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'products/css/templatemo.css' %}" />
    <link rel="stylesheet" href="{% static 'products/css/custom.css' %}" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="{% static 'products/css/fontawesome.min.css' %}"
    />
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <a
          class="navbar-brand text-primary logo h1 align-self-center"
          href="{% url 'products:index' %}"
        >
          Shopify
        </a>

        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#templatemo_main_nav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="
            align-self-center
            collapse
            navbar-collapse
            flex-fill
            d-lg-flex
            justify-content-lg-between
          "
          id="templatemo_main_nav"
        >
          <div class="flex-fill">
            <ul
              class="nav navbar-nav d-flex justify-content-between mx-lg-auto"
            >
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:shop' %}">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:contact' %}"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <div class="navbar align-self-center d-flex">
            <div
              class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="inputMobileSearch"
                  placeholder="Search ..."
                />
                <div class="input-group-text">
                  <i class="fa fa-fw fa-search"></i>
                </div>
              </div>
            </div>

            <a
              class="nav-icon d-none d-lg-inline"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#templatemo_search"
            >
              <i class="fa fa-fw fa-search text-dark mr-2"></i>
            </a>

            <a
              class="nav-icon position-relative text-decoration-none"
              href="{% url 'orders:basket' %}"
            >
              <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
              <span
                id="basketBadge"
                class="
                  position-absolute
                  top-0
                  left-100
                  translate-middle
                  badge
                  rounded-pill
                  bg-light
                  text-dark
                "
              ></span>
            </a>

            <a class="nav-icon position-relative text-decoration-none" href="#">
              <a href="{% url 'customers:sign_in' %}"
                ><i class="fa fa-fw fa-user text-dark mr-3"></i
              ></a>
              <span
                class="
                  position-absolute
                  top-0
                  left-100
                  translate-middle
                  badge
                  rounded-pill
                  bg-light
                  text-dark
                "
              ></span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Search ..."
            />
            <button
              type="submit"
              class="input-group-text bg-primary text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- end Modal -->

    {% block content %}{% endblock %}

    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pt-5">
            <h2 class="h2 text-primary border-bottom pb-3 border-light logo">
              Shopify
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <i class="fa fa-envelope fa-fw"></i>
                <a
                  class="text-decoration-none"
                  href="mailto:mobin.agaei@gmail.com"
                  >mobin.agaei@gmail.com</a
                >
              </li>
              <li>
                <i class="fa fa-phone fa-fw"></i>
                <a class="text-decoration-none" href="tel:+98-990-955-7388"
                  >+98 990 955 73 88</a
                >
              </li>

              <li>
                <i class="fas fa-map-marker-alt fa-fw"></i>
                <a
                  class="text-decoration-none"
                  href="https://www.google.com/maps/place/%D8%A7%D8%B1%D8%AF%D8%A8%DB%8C%D9%84%D8%8C+%D8%A7%D8%B3%D8%AA%D8%A7%D9%86+%D8%A7%D8%B1%D8%AF%D8%A8%DB%8C%D9%84%D8%8C+%D8%A7%DB%8C%D8%B1%D8%A7%D9%86%E2%80%AD/@38.2668309,48.4110735,12z/data=!3m1!4b1!4m5!3m4!1s0x4018979ffdc9dca9:0xbe7e5e042fd87cba!8m2!3d38.2537514!4d48.3000183"
                  >Iran / Ardabil</a
                >
              </li>
            </ul>
          </div>

          <div class="col-md-4 pt-5">
            <h2 class="h2 text-primary border-bottom pb-3 border-light">
              Detail
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <p>
                  The Onlineshop is a virtual store on the Internet where
                  customers can browse the catalog and select products of
                  interest. The selected items may be collected in a shopping
                  cart.
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md-4 pt-5">
            <h2 class="h2 text-primary border-bottom pb-3 border-light">
              Further Info
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <a
                  class="text-decoration-none"
                  href="{% url 'products:index' %}"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="text-decoration-none"
                  href="{% url 'products:about' %}"
                  >About Us</a
                >
              </li>
              <li>
                <a class="text-decoration-none" href="#">Shop Locations</a>
              </li>
              <li><a class="text-decoration-none" href="#">FAQs</a></li>
              <li>
                <a
                  class="text-decoration-none"
                  href="{% url 'products:contact' %}"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="w-100 bg-black py-3">
          <div class="container">
            <div class="row pt-2">
              <div class="col-12">
                <p class="text-left text-light">
                  Copyright &copy; 2021 Shopify
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->

    <script src="{% static 'products/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'products/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'products/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'products/js/templatemo.js' %}"></script>
    <script src="{% static 'products/js/custom.js' %}"></script>

    <script src="{% static 'customers/js.js' %}"></script>

    <!-- End Script -->
    {% block js %}{% endblock %}
  </body>
</html>
