{% extends 'products/base.html' %}


{% block content %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="/media/{{ product.image }}" alt="{{ product.name }} Image"
                             id="product-detail">
                    </div>
                </div>
                <!-- col end -->

                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2 profile-link">{{ product.name }}</h1>
                            <p class="h3 py-2">{{ product.price }}</p>


                            <h6>Description:</h6>
                            <p>{{ product.description }}</p>


                            <div class="row pb-3">

                                <form action="{% url 'orders:basket' %}" method="POST">
                                    {% csrf_token %}

                                    <input type="hidden" name="product_name" value="{{ product.name }}">

                                    <div class="row">
                                        <div class="col-auto">
                                            <ul class="list-inline pb-3">
                                                <li class="list-inline-item text-right">
                                                    Quantity
                                                    <input type="hidden" name="product_quantity"
                                                           id="product_quantity"
                                                           value="1">
                                                </li>
                                                <li class="list-inline-item"><span class="btn btn-primary"
                                                                                   id="btn-minus">-</span></li>
                                                <li class="list-inline-item"><span name="qqq" class="badge bg-secondary"
                                                                                   id="var-value">1</span></li>
                                                <li class="list-inline-item"><span class="btn btn-primary"
                                                                                   id="btn-plus">+</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <h6 class="mb-5">Inventory : {{ product.number_of_product }}</h6>

                                    <div class="col-12 justify-content-between d-flex ">

                                        <div class="col-4 d-grid">
                                            <a href="#">
                                                <button type="submit" class="btn btn-primary btn-sm productDetailBtn"
                                                        name="submit"
                                                        value="buy">
                                                    Buy
                                                </button>
                                            </a>
                                        </div>

                                        <div class="col-4 d-grid">
                                            <a href="#">
                                                <button type="submit" id="addToBasket"
                                                        class="btn btn-primary btn-sm productDetailBtn"
                                                        name="addToBasket"
                                                        value="addtocard">Add To Cart
                                                </button>
                                            </a>
                                        </div>

                                    </div>

                                </form>

                            </div>
                            {#                            End form row#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
{% endblock %}
